.header {
  $base: &;
  background-color: $dna-brand-grey-800;
  border: 10px solid #fff;
  border-bottom: 0;
  color: #fff;
  padding: 45px 0;

  &__logo-img {
    margin-right: 20px;
  }

  &__button {
    display: none;
  }

  &.is-fixed {
    border-bottom: 10px solid #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .24);
    height: $header-fixed-height;
    left: 0;
    padding: 14px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;

    #{$base}__button {
      display: inline-block;
    }
  }
}

body.is-header-fixed .main {
  margin-top: $header-original-height;
}
