.header {
  $base: &;
  background-color: #fff;
  padding: $spacing-2 $spacing-2 0;

  &__title {
    font-size: 20px;
  }

  &__inner {
    border: $main-content-border-width solid $dna-brand-grey-800;
    border-bottom: 0;
    padding: 14px;
  }

  &__logo-img {
    margin-right: 16px;
    width: 60px;
  }

  &__button {
    background-color: $dna-brand-grey-800;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    transform: translateY(100%);
    transition: transform .2s;
    z-index: $z-index-5;

    &.is-fixed {
      transform: translateY(0);
    }

    .button-download {
      width: 100%;
    }
  }

  @include mq($from: tablet) {
    &__inner {
      padding: 45px 45px;
    }

    &__button {
      display: none;
    }

    &.is-fixed {
      box-shadow: 0 2px 16px rgba(0, 0, 0, .24);
      height: $header-fixed-height;
      left: 0;
      margin-top: -$header-fixed-height;
      padding: $spacing-2;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(0);
      transition: transform .2s;
      width: 100%;
      z-index: $z-index-5;

      &.is-visible {
        transform: translateY(100%);
      }

      #{$base}__inner {
        border-bottom: $main-content-border-width solid $dna-brand-grey-800;
        padding: $spacing-2 8px;
      }

      #{$base}__button {
        bottom: auto;
        display: inline-block;
        left: auto;
        padding: 0;
        position: static;
        right: auto;
        transform: none;
        transition: none;
      }
    }
  }
}

body {
  // Take into account sticky download button on 'mobile' breakpoint.
  @include mq($until: tablet) {
    &.is-download-button-fixed {
      padding-bottom: 32px;
    }
  }

  &.is-header-fixed {
    .main {
      @include mq($from: tablet) {
        margin-top: $header-original-height;
      }
    }
  }
}
