.main-content {
  border: $main-content-border-width solid #fff;
  border-top: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0 16px;
  position: relative;

  @include mq($from: tablet) {
    padding: 0 32px;
  }
}
