
.button {
  background-color: $form-field-background-color;
  border: $form-field-border-width solid $form-field-border-color;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1;
  padding: $form-field-padding-y $form-field-padding-x;
  text-decoration: none;

  &--fill-primary {
    background-color: #000;
    color: #fff;
    transition: background-color .2s;

    &:hover,
    &:focus {
      background-color: lighten(#000, 30%);
    }
  }
}

.button-cta-link {
  $base: &;
  border: 0;
  border-bottom: $button-border-width solid currentColor;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  letter-spacing: normal;
  line-height: 1;
  min-width: 100%;
  padding: 11px 0;
  position: relative;
  text-decoration: none;

  &__icon {
    position: absolute;
    top: 11px;
    transition: transform .2s;
  }

  &--icon-right {
    padding-right: 25px;

    #{$base}__icon {
      right: 0;
    }

    &:hover,
    &:focus {
      #{$base}__icon {
        transform: translateX(5px);
      }
    }
  }

  &--icon-left {
    padding-left: 25px;

    #{$base}__icon {
      left: 0;
    }

    &:hover,
    &:focus {
      #{$base}__icon {
        transform: translateX(-5px);
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.button-download {
  $base: &;
  background: linear-gradient($dna-brand-purple 70%, $dna-brand-blue-500 100%);
  border: 0;
  color: #fff;
  font-family: $font-family-secondary;
  font-size: $font-size-large;
  padding: 0;
  text-align: center;

  &__inner {
    display: block;
    padding: 17px 29px;
    transition: background-color .2s;
  }

  &:hover,
  &:focus {
    #{$base}__inner {
      background-color: $dna-brand-grey-800;
    }
  }
}
