
.button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  font-size: $font-size-large;
  letter-spacing: normal;
  border: $form-field-border-width solid $form-field-border-color;
  background-color: $form-field-background-color;
  padding: 5px 11px;
  color: inherit;
  text-decoration: none;
}
