
.button {
  background-color: $form-field-background-color;
  border: $form-field-border-width solid $form-field-border-color;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1;
  padding: $form-field-padding-y $form-field-padding-x;
  text-decoration: none;

  &--fill-primary {
    background-color: #000;
    color: #fff;
  }
}

.button-cta-link {
  border: 0;
  border-bottom: $button-border-width solid #fff;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  letter-spacing: normal;
  line-height: 1;
  min-width: 100%;
  padding: 11px 0;
  position: relative;
  text-decoration: none;

  img,
  svg {
    position: absolute;
    right: 0;
    top: 11px;
  }

  &--icon-right {
    padding-right: 25px;
  }

  &--icon-left {
    padding-left: 25px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.button-download {
  $base: &;
  background: linear-gradient(to right, $dna-brand-blue-500 0%, $dna-brand-purple 50%, $dna-brand-blue-500 100%);
  border: 0;
  font-family: $font-family-secondary;
  font-size: $font-size-large;
  padding: 3px;
  text-align: center;

  &__inner {
    background-color: $dna-brand-grey-800;
    color: #fff;
    display: block;
    padding: 14px 30px;
    transition: background-color .2s ease-out;
  }

  &:hover,
  &:focus {
    #{$base}__inner {
      background-color: darken($dna-brand-grey-800, 10%);
    }
  }

  &--small {
    font-size: $font-size-base;

    #{$base}__inner {
      padding: 9px 18px;
    }
  }
}
