$cols-num: 12;

.cols {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include mq($from: tablet) {
    flex-direction: row;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.col {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    margin-bottom: 0;

    @for $i from 1 through $cols-num {
      &--#{$i} {
        flex-basis: percentage($i / $cols-num);
        max-width: percentage($i / $cols-num);
      }
    }
  }

  &__inner {
    @include mq($from: tablet) {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
