/*
Form elements
********************************************************************** */

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: normal;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='number'],
textarea {
  background: $form-field-background-color;
  border: 2px solid $form-field-border-color;
  color: $text-color-base;
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  padding: $form-field-padding-y $form-field-padding-x;
}

input[type='search'] {
  appearance: textfield;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

label {
  cursor: pointer;
}

.form-checkbox,
.form-radio {
  input[type='checkbox'],
  input[type='radio'] {
    float: left;
    margin-top: 6px;
  }

  label {
    display: block;
    margin-left: 25px;
    overflow: hidden;
  }
}

.disabled,
[disabled] {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none;
}

.form-error {
  color: $mdn-brand-red;
  line-height: $line-height-heading;
  margin: 0;
  padding: 0;
}
