.progress-icon {
  align-items: center;
  background: #fff;
  border: 4px solid $dna-brand-purple;
  border-radius: 100%;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}
