.section {
  padding: 45px 0;
  overflow-x: hidden;

  @include mq($from: tablet) {
    padding: 80px 0;
  }

  &--full-screen {
    min-height: 100vh;
  }

  &--dark {
    background: $dna-brand-grey-900;
    color: $text-color-light;
  }
}
