.section {
  padding: 45px 0;
  overflow-x: hidden;

  @include mq($from: tablet) {
    padding: 80px 0;
  }

  &--intro {
    background: $dna-brand-grey-800;
    min-height: calc(100vh - #{$main-content-border-width * 2});
  }
}
