.survey-sign-up {
  @include mq($from: mobile) {
    /* stylelint-disable unit-no-unknown */
    background-image: image-set(
      '#{$path-to-locale-images}strands_1x.png' 1x,
      '#{$path-to-locale-images}strands_2x.png' 2x
    );
    /* stylelint-enable unit-no-unknown */
    background-position: center;
    background-repeat: repeat-x;
  }

  &__form {
    background: $dna-brand-grey-800;
    max-width: $min-line-length;
    padding: 0 10px;
  }
}
