.survey-sign-up {
  margin-top: 20px;

  &__form,
  &__success {
    background: $dna-brand-grey-800;
    margin: 0 auto;
    max-width: $min-line-length;
    min-height: 102px;
    padding: 10px;
  }

  &__privacy {
    margin-bottom: 10px;
  }

  &__error {
    margin-bottom: 10px;
  }
}
