/*
Colors
====================================================================== */
$mdn-brand-red: #e66465;
$mdn-brand-orange: #f69d3c;
$mdn-brand-yellow: #f6b73c;
$mdn-brand-green: #4d9f0c;
$mdn-brand-blue: #3d7e9a;
$mdn-brand-purple: #9198e5;
$mdn-brand-grey: #696969;


$dna-brand-grey-300: #d8d8d8;
$dna-brand-grey-800: #333;
$dna-brand-grey-900: #212121;
$dna-brand-blue: #83c7f2;
$dna-brand-purple: #839cf1;

$mdn-brand-colors: (
  red: $mdn-brand-red,
  orange: $mdn-brand-orange,
  yellow: $mdn-brand-yellow,
  green: $mdn-brand-green,
  blue: $mdn-brand-blue,
  purple: $mdn-brand-purple,
  grey: $mdn-brand-grey
);

$dna-brand-colors: (
  black: #000,
  grey-300: $dna-brand-grey-300,
  grey-800: $dna-brand-grey-800,
  grey-900: $dna-brand-grey-900,
  blue: $dna-brand-blue,
  purple: $dna-brand-purple,
  white: #fff
);

$text-link-color-base: $mdn-brand-blue;

/*
Typography
====================================================================== */
$font-family-base: 'Arial', x-locale-body, sans-serif;
$font-family-secondary: x-locale-heading-primary, zillaslab, 'Palatino', 'Palatino Linotype', x-locale-heading-secondary, serif;

$line-height-default: 1.4em;

/*
Sizes
====================================================================== */
// Mobile
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-h4: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-small: 12px;

// Tablet
$font-size-h1-tablet: 62px;
$font-size-h2-tablet: 40px;
$font-size-h3-tablet: 24px;
$font-size-h4-tablet: 12px;
$font-size-base-tablet: 14px;
$font-size-large-tablet: 16px;
$font-size-small-tablet: 12px;

/*
Breakpoints
====================================================================== */
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);

/*
Forms
====================================================================== */
$form-field-border-width: 2px;
$form-field-border-color: $dna-brand-grey-800;
$form-field-text-color: $dna-brand-grey-800;
$form-field-background-color: #fff;
$form-field-placeholder-text: lighten($form-field-border-color, 2);
$form-field-padding: 20px;

/*
Buttons
====================================================================== */
$button-border-width: $form-field-border-width;
$button-border-color-base: $form-field-border-color;

/*
Z-index
====================================================================== */
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;

/*
Paths
====================================================================== */
$path-to-locale-fonts: '../assets/';
