/*
Colors
====================================================================== */
$mdn-brand-red: #e66465;
$mdn-brand-orange: #f69d3c;
$mdn-brand-yellow: #f6b73c;
$mdn-brand-green: #4d9f0c;
$mdn-brand-blue: #3d7e9a;
$mdn-brand-blue-300: #83d0f2;
$mdn-brand-purple: #9198e5;
$mdn-brand-grey: #696969;

$dna-brand-grey-300: #d8d8d8;
$dna-brand-grey-800: #333;
$dna-brand-grey-900: #212121;
$dna-brand-blue-500: #83c7f2;
$dna-brand-blue-100: #9ad1f4;
$dna-brand-purple: #839cf1;

$mdn-brand-colors: (
  red: $mdn-brand-red,
  orange: $mdn-brand-orange,
  yellow: $mdn-brand-yellow,
  green: $mdn-brand-green,
  blue: $mdn-brand-blue,
  purple: $mdn-brand-purple,
  grey: $mdn-brand-grey
);

$dna-brand-colors: (
  black: #000,
  grey-300: $dna-brand-grey-300,
  grey-800: $dna-brand-grey-800,
  grey-900: $dna-brand-grey-900,
  blue-500: $dna-brand-blue-500,
  blue-100: $dna-brand-blue-100,
  purple: $dna-brand-purple,
  white: #fff
);

$text-link-color-base: $mdn-brand-blue;
$text-color-base: $dna-brand-grey-800;

/*
Typography
====================================================================== */
$font-family-base: 'Arial', x-locale-body, sans-serif;
$font-family-secondary: x-locale-heading-primary, zillaslab, 'Palatino', 'Palatino Linotype', x-locale-heading-secondary, serif;

$line-height-base: 1.8;
$line-height-heading: 1.2;


// Line lengths for restricting text.
$min-line-length: 25em;
$base-line-length: 35em;
$max-line-length: 45em;

/*
Sizes
====================================================================== */
// Mobile
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-h4: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-small: 12px;

// Tablet
$font-size-h1-tablet: 46px;
$font-size-h2-tablet: 42px;
$font-size-h3-tablet: 24px;
$font-size-h4-tablet: 12px;
$font-size-base-tablet: 14px;
$font-size-large-tablet: 18px;
$font-size-small-tablet: 12px;

// Site
$site-min-width: 300px;
$site-max-width: 1200px;

// Header
$header-original-height: 138px;
$header-fixed-height: 100px;

// Content
$main-content-border-width: 4px;

// Spacing
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 20px;
$spacing-4: 40px;
$spacing-5: 60px;

$spacing-map: (
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5
);

/*
Breakpoints
====================================================================== */
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);

/*
Forms
====================================================================== */
$form-field-border-width: 2px;
$form-field-border-color: $dna-brand-grey-800;
$form-field-text-color: $dna-brand-grey-800;
$form-field-background-color: #fff;
$form-field-placeholder-text: lighten($form-field-border-color, 2);
$form-field-padding-x: 20px;
$form-field-padding-y: 18px;

/*
Buttons
====================================================================== */
$button-border-width: $form-field-border-width;
$button-border-color-base: $form-field-border-color;

/*
Z-index
====================================================================== */
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;

$z-index-map: (
  1: $z-index-1,
  2: $z-index-2,
  3: $z-index-3,
  4: $z-index-4,
  5: $z-index-5,
);

/*
Paths
====================================================================== */
$path-to-assets: '../assets';
$path-to-local-fonts: '#{$path-to-assets}/fonts/';
$path-to-local-images: '#{$path-to-assets}/img/';
