.stats {
  margin-top: 60px;

  &__col {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  &__img {
    margin-bottom: 15px;
  }
}

.timeline {
  &__title {
    margin-bottom: 40px;

    @include mq($from: tablet) {
      margin-bottom: 80px;
    }
  }

  &__row {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__island {
    padding: $spacing-3;

    @include mq($from: tablet) {
      max-width: 280px;
    }
  }
}

.section--hero {
  .button-download {
    display: block;
    margin: 14px auto;
    text-align: center;

    @include mq($from: tablet) {
      display: inline-block;
      margin: 14px 0;
      width: auto;
    }
  }
}
