.stats {
  margin-bottom: 20px;
  margin-top: 60px;

  &__col {
    margin-bottom: 0;
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }
}

.timeline {
  &__title {
    margin-bottom: $spacing-3;
    position: relative;

    @include mq($from: tablet) {
      margin-bottom: 20px;
    }
  }

  &__title-text {
    position: absolute;
    top: calc(50% - 16px);
  }

  &__title-backdrop {
    margin-left: 60px;
    max-width: 480px;
    min-width: 380px;
  }

  &__row {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__island {
    background: linear-gradient(to right, $dna-brand-blue-500 0%, $dna-brand-purple 50%, $dna-brand-blue-500 100%);
    padding: $spacing-1;

    @include mq($from: tablet) {
      max-width: 300px;
    }
  }

  &__island-content {
    background: $dna-brand-grey-800;
    padding: $spacing-3;
  }
}

.section--hero {
  border: $main-content-border-width solid $dna-brand-grey-800;
  border-top: none;
  overflow: visible;

  .button-download {
    display: block;
    margin: 14px auto;
    text-align: center;

    @include mq($from: tablet) {
      display: inline-block;
      margin: 14px 0;
      width: auto;
    }
  }
}

.continue-conversation {
  @include mq($from: tablet) {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 100px);
  }

  &__intro {
    align-self: flex-end;
    margin-bottom: 15px;

    .h3 {
      margin-bottom: 4px;
    }

    @include mq($from: tablet) {
      grid-column: 1 / 5;
      grid-row: 1;
      margin-bottom: 0;
    }
    @include mq($from: desktop) {
      grid-column: 2 / 5;
      grid-row: 2;
    }
  }

  &__link {
    align-self: flex-end;
    max-width: 500px;

    @include mq($from: tablet) {
      grid-column: 1 / 4;
      grid-row: 4;
    }
    @include mq($from: desktop) {
      grid-column: 2 / 4;
      grid-row: 5;
    }
  }

  /*
    Quote card flex positioning here, see components
  */
  .quote-card {
    align-self: flex-start;

    &--1 {
      @include mq($from: tablet) {
        grid-column: 1 / 5;
        grid-row: 2 / 6;
      }
      @include mq($from: desktop) {
        grid-column: 2 / 5;
        grid-row: 3 / 6;
      }
    }

    &--2 {
      @include mq($from: tablet) {
        grid-column: 5 / 9;
        grid-row: 1 / 4;
      }
      @include mq($from: desktop) {
        grid-column: 5 / 8;
        grid-row: 1 / 4;
      }
    }

    &--3 {
      @include mq($from: tablet) {
        grid-column: 5 / 9;
        grid-row: 4 / 7;
      }
      @include mq($from: desktop) {
        grid-column: 6 / 9;
        grid-row: 4 / 7;
      }
    }
  }
}

.section--change {
  background: url('#{$path-to-local-images}backdrop-pattern_2x.png') center center / 260px repeat;
}
