.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.min-width-100 {
  min-width: 100%;
}

.max-width-100 {
  max-width: 100%;
}

.horizontal-center {
  margin: 0 auto;
}
