.font-weight-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight-dark {
  background: $dna-brand-grey-900;
  box-decoration-break: clone;
  color: #fff;
  padding: 0 4px;
}
