.font-weight-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark-highlight {
  background: $dna-brand-grey-dark;
  padding: 0 .1em .12em;
}
