html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background: #fff;
  color: $text-color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height-base;
}

svg {
  fill: currentColor;

  &:not(:root) {
    overflow: hidden;
  }
}
