@font-face {
  font-display: 'fallback';
  font-family: zillaslab;
  font-style: normal;
  font-weight: normal;
  src:
    url('#{$path-to-local-fonts}#{"ZillaSlab-Regular.subset.woff2"}') format('woff2'),
    url('#{$path-to-local-fonts}#{"ZillaSlab-Regular.subset.woff"}') format('woff');
}

@font-face {
  font-display: 'optional';
  font-family: zillaslab;
  font-style: normal;
  font-weight: bold;
  src:
    url('#{$path-to-local-fonts}#{"ZillaSlab-Bold.woff2"}') format('woff2'),
    url('#{$path-to-local-fonts}#{"ZillaSlab-Bold.subset.woff"}') format('woff');
}

