/*
Typography
- headings, blockquotes, paragraphs, links
====================================================================== */

h1,
.h1 {
  font-family: $font-family-secondary;
  font-size: $font-size-h1;
  line-height: 1;

  @include mq($from: tablet) {
    font-size: $font-size-h1-tablet;
  }
}

h2,
.h2 {
  font-family: $font-family-secondary;
  font-size: $font-size-h2;

  @include mq($from: tablet) {
    font-size: $font-size-h2-tablet;
  }
}

h3,
.h3 {
  font-family: $font-family-secondary;
  font-size: $font-size-h3;

  @include mq($from: tablet) {
    font-size: $font-size-h3-tablet;
  }
}

h4,
.h4 {
  font-size: $font-size-h4;
  text-transform: uppercase;

  @include mq($from: tablet) {
    font-size: $font-size-h4-tablet;
  }
}

a {
  color: $text-link-color-base;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
