/*
Typography
- headings, blockquotes, paragraphs, links
====================================================================== */

h1,
.h1 {
  font-family: $font-family-secondary;
  font-size: $font-size-h1;
  line-height: $line-height-heading;
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    font-size: $font-size-h1-tablet;
    margin-bottom: 25px;
  }
}

h2,
.h2 {
  font-family: $font-family-secondary;
  font-size: $font-size-h2;
  font-weight: bold;
  line-height: $line-height-heading;
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    font-size: $font-size-h2-tablet;
    margin-bottom: 25px;
  }
}

h3,
.h3 {
  font-family: $font-family-secondary;
  font-size: $font-size-h3;
  font-weight: normal;
  line-height: $line-height-heading;
  margin: 0 0 15px;
  text-transform: none;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    font-size: $font-size-h3-tablet;
    margin-bottom: $spacing-3;
  }
}

h4,
.h4 {
  font-family: inherit;
  font-size: $font-size-h4;
  font-weight: bold;
  line-height: $line-height-heading;
  margin: 0 0 15px;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    font-size: $font-size-h4-tablet;
    margin-bottom: $spacing-2;
  }
}

h5,
.h5 {
  font-size: $font-size-base;
  font-weight: bold;
  line-height: $line-height-heading;
  margin: 0 0 $spacing-3;
}

p,
ul,
ol {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $text-link-color-base;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
